<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>

<p>
    Teams created based on the uploaded file:
</p>
<p>
    Total {{ total_groups }} groups.
</p>
{% for workshop, groups in workshop_groups.items %}
{% for id, group in groups.items %}
<table>
<thead>
  <tr>
    <th colspan="2">Workshop {{ workshop }}, Group {{ id }}</th>
  </tr>
</thead>
<tbody>
    {% for studtent in group %}
  <tr>
    <td>{{ studtent.Student_ID }}</td>
    <td>{{ studtent.Name }}</td>
  </tr>
    {% endfor %}
</tbody>
</table>
    <h3>---------------</h3>
{% endfor %}
    <h1>=====================</h1>
{% endfor %}
</body>
</html>