<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<form action="/upload_file/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="color: crimson"> {{ error }} </p>
    {{ form }}
    <input type="submit" value="Upload file">
</form>
<form action="/teams/" method="get" style='visibility:{{create_button_visibility|default:"hidden"}}'>
    <p>
        The file is uploaded successful.
    </p>
    <input type="submit" value="Create Teams">
</form>
</body>
</html>